.alert {
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: 9;
  &__absolute {
    position: absolute;
    top: -24px;
    padding: 9px;
  }
  &__notify {
    position: fixed;
    top: 0;
    padding: 23px 15px;
    text-align: center;
  }
}